<body>
    <nav class="navv fixed-top opacity-75">
        <div class="container-fluid">
          <img class="a" src="..\assets\k 2.jpg" alt="image not found">
          <a class="navbar-brand" href="#">Kanban-Board</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          </div>
        </div>
      </nav>
     
     
      <section class="vh-100 gradient-custom sec">
        <form [formGroup]="Email" (ngSubmit)="forgotPassword()" class="form-horizontal">
            
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-2 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase border-bottom">Forgot Password</h2>
                    <p class="text-white-50 mb-5">Please enter your Email Id</p>
                    

                    <div class="form-outline form-white mb-4">
                    <div class="lig"><label><h6>Email Id</h6></label></div>
                    <input type="email" formControlName="emailId" class="form-control form-control-lg" placeholder="Email">
                    <div *ngIf="Email.get('emailId')?.invalid && (Email.dirty || Email.touched)">
                        <div *ngIf="Email.get('emailId')?.errors?.['required']">
                            Valid Email id required.
                        </div>
                    </div>
                </div>


                    <!-- <div class="form-outline form-white mb-4">
                        <div class="lig"><label><h6>Password</h6></label></div>
                        <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Password">
                        <div *ngIf="Email.get('password')?.invalid && (Email.dirty || logEinForm.touched)">
                            <div *ngIf="Email.get('password')?.errors?.['required']">
                                Valid password required.
                            </div>
                        </div>
                    </div><br> -->
      
                    <button class="btn btn-outline-light btn-lg px-5" [disabled]="Email.invalid" type="submit">Send</button>
      
                  </div>
      
                  <div>
                    <p class="mb-0">Don't have an account? <a routerLink="/signup" class="text-white-50 fw-bold">Sign Up</a>
                    </p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
      </section>
</body>