<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="fixed-top opacity-100">
      <div class="container-fluid">
        <img class="a" src="..\assets\k 2.jpg" alt="image not found">
        <!-- <a class="navbar-brand" href="#">Kanban Board</a> -->
        <label class="logo">KanBan-Board</label>
          <ul>
            <li class="nav-item">
              <a class="btn" routerLink="/signup">Register</a>
            </li>
            <li class="nav-item">
             <a class="btn but"  routerLink="/login">Login</a>
            </li>
          </ul>
        </div>
    </nav>
    </body>
    
    
    
    