
body{
    /* background-image: url("src\assets\Kanban-Board 1111.webp");
     */
    background-color:rgb(72, 52, 74);
}

.sec{
    /* padding-top: 10%; */
    /* width:50%; */
    height:fit-content;
}


nav{
    background-color:rgb(5, 25, 25);
    color: white;
    font-size: 25px;
    line-height: 55px;
}

  img{
    padding-right: 10px;
    max-width: fit-content;
    max-height: 35px;
} 
.lig{
    text-align: left;
}

button{
    margin-left: 5%;
}

.card{
    margin-top: 7%;
}