    body{
        background-image: url("src\assets\signbg.webp");
        width: 100%;
        min-height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        overflow-y: hidden;
    }

  
    nav{
        background-color:rgb(5, 25, 25);
        color: white;
        font-size: 1.6rem;
        /* line-height: 10%; */
    }
    
      img{
        padding-block: 1rem;
        padding-right: 1rem;
        max-width: fit-content;
        max-height:4rem;
    } 

    .sec{
         padding-top: 2.4%;
         padding-left: 32%;
         width: 100%;
    }

    .log{
      text-align: left;
    }

    button{
      margin-left: 3%;
    }

    .xy{
      background-color:lightgray;
      color: black;
      text-align: left;
      padding:2px;
      font-size: medium;
      width: fit-content;
  }


  @media (min-width:428px ) and (max-width:988px){

    .sec{
      padding-top: 4%;
      /* padding-left: 32%; */
      width: 70%;
 }
  }